{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Obesity - Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body class="">
    <main class="jumbotron">
      <div class="jumbo-header">
        <div class="info">
          <h3>DMA Lab Project</h3>
          <h1>Prediction System</h1>
        </div>

        <div class="links">
          <a href="https://github.com/kaythecosmic" target="_blank">
            Source Code
          </a>
        </div>
      </div>

      <div class="jumbo-content">
        <p>
          Ut volutpat nisl at risus accumsan, quis sodales mi semper. Sed
          facilisis, lacus vel lobortis mattis, augue nunc euismod tortor,
          laoreet faucibus diam enim non odio. Aliquam erat volutpat. Praesent
          id fermentum sapien. Suspendisse sit amet diam mi. Suspendisse
          suscipit quis risus cursus pretium. Sed tincidunt, neque nec egestas
          posuere, sem leo aliquam enim, vitae tempus mauris elit nec sem.
          Aenean lobortis nec eros vitae lacinia. Maecenas ullamcorper ipsum at
          est tempus, tristique mattis lectus viverra. Cras efficitur, diam nec
          vulputate sodales, tortor felis consectetur massa, nec ultricies orci
          lectus et ipsum. Praesent congue tortor quam, vitae scelerisque massa
          sollicitudin eget. Fusce congue lacinia justo, rutrum fermentum odio
          malesuada a. Ut hendrerit lacinia venenatis. Mauris molestie, augue eu
          maximus fringilla, orci ante suscipit lacus, id accumsan lacus mi ut
          nisi.
        </p>
      </div>

      <div class="jumbo-footer">
        <small>Submitted By</small>
        <strong>Kanishk Nagpal</strong>
        <small>CO21328 - CSE, 6<sup>th</sup> Semester </small>
      </div>
    </main>
  </body>
</html>
